*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}
nav {
    display: flex;
    background-color: goldenrod;
    width: 100%;
    justify-content: center;
    padding: .5em;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    margin: 2em 1em 2em 1em;
    color: aquamarine;
}

nav a:hover {
    color: white;
    transform: sacle(1.2);
}

.img-cast {
    width:100%;
    height: auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    width: 100%;
}

.flex-item {
    background-color: bisque;
    width: 33.33333333333%;
    margin: 2em;
    text-align: center;
}

main {
    flex: 2;
    margin: 1em;
}

aside {
    flex: 1;
    margin: 1em;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: goldenrod;
}

h2, h3 {
    color: goldenrod;
}

h1, h4 {
    text-transform: uppercase;
    text-align: center;
    color: purple;
}

.rapper {
    background-color: whitesmoke;
}